<img src="/images/rollercoaster.png" width="620px">

<h1>Welcome to Beacon Heights!</h1>

<div>
  <img src="/images/kids.png" align="left" style="margin-right: 1em;">
  
  Available are many rides for various ages!
  Don't forget to check out our biggest and most popular ride, "Terror Underground"!
  <br />
  We also host birthday parties and company or church events!
</div>

<div class="bottom">
  <%= image_tag("swings.png") %> <%= image_tag("carousel.png") %>
</div>
