<h1>Park Hours and Information</h1>
<h3>Welcome to Beacon Heights!</h3>

<div class="entry">
  We open at 7:00 AM everyday and close at 9:00 PM.<br /><br />
  
  Available are many rides for various ages! Don't forget to check out our biggest and most popular ride, "Terror Underground"!
  <br />
  We also host birthday parties and company or church events!<br /><br />
</div>
